%div.container
  - if @winning_color == "pink"
    %div.button-container
      %button.button.color-button#pink I'm pink!
  - if @winning_color == "blue"
    %div.button-container
      %button.button.color-button#blue I'm blue!
  - if @winning_color == "green"
    %div.button-container
      %button.button.color-button#green I'm green!
  .results-container
    %div
      %h3 Pink
      %p
        = "Show: #{@pink_show}"
        = "Click: #{@pink_click}"
        = "Win Percentage: #{@pink_wins}"
    %div
      %h3 Blue
      %p
        = "Show: #{@blue_show}"
        = "Click: #{@blue_click}"
        = "Win Percentage: #{@blue_wins}"
    %div
      %h3 Green
      %p
        = "Show: #{@green_show}"
        = "Click: #{@green_click}"
        = "Win Percentage: #{@green_wins}"
%div.reset-db
  %button.button#reset Reset Redis Store

:javascript
  $(document).ready(function() {
    $('.color-button').on('click', function(){
      var color = $(this).attr('id')
      $.ajax({
        type: "POST",
        url: "/add_click",
        data: { color: color }
      }).done(function(){
        window.location = "/"
      })
    })

    $('#reset').on('click', function(){
      confirm("Are you sure you want to delete our hard-earned data?")
      $.ajax({
        type: "POST",
        url: "/reset_db"
      }).done(function(){
        window.location = "/"
      })
    })
  });

